name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths: Dockerfile
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_P }}
          
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
          context: .
          push: true
          tags: zheqijin/dsci310-ia3-masterjjjj-docker:dockerfile-practice-v1.0.0
